<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body class="page-with-background">
    <h1>Despre noi</h1>
  
    <h3>Magazinul a fost deschis in 2003. Hainele sunt stilizate de Manole Ionela, tot ea verifica cu atentie detaliile fiecarui articol.
        <p> Pana in prezent sunt deschise peste 20 de magazine in Romania.</p>
    </h3>
</body>
</html>
