<!--  clothing.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Clothing</title>
</head>
<body>
    <h1>Articole vestimentare</h1>

    
    <div id="clothing-list"></div>
        <div class="clothing-item">
            <img src="/images/tricou-alb.jpg" alt="Tricou alb" width="300" height="300">
            <h2>Tricou alb</h2>
            <p>Categorie: Tricouri</p>
            <p>Preț: 70 RON</p>
    </div>

     
    <div id="clothing-list"></div>
        <div class="clothing-item">
            <img src="/images/bluza-neagra.jpg" alt="Bluza neagra" width="400" height="300">
            <h2>Bluza neagra</h2>
            <p>Categorie: Bluze</p>
            <p>Preț: 60 RON</p>
    </div>
</body>
</html>
